<div class="container">
    <div *ngFor="let post of postList">
        <div class="has-wrote">{{ post.user.email }} has wrote: </div>
        <div class="post-text">{{ post.text }}</div>
        <div class="sympathy">
            <span class="post-like glyphicon glyphicon-thumbs-up" aria-hidden="true"
                (click)="makeSympathy(post, true)">
            </span> {{ post.likes }}
            <span class="post-dislike glyphicon glyphicon-thumbs-down" aria-hidden="true"
                  (click)="makeSympathy(post, false)">
            </span> {{ post.dislikes }}
        </div>
    </div>
    <span *ngIf="previousPage">
        <a class="paginator-pointer" (click)="getPosts(url=previousPage)"><< previous</a>
    </span>
    <span *ngIf="nextPage">
        <a class="paginator-pointer" (click)="getPosts(url=nextPage)">next >></a>
    </span>
</div>
